* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("../img/bgrnd.jpg");
	background-repeat: no-repeat;
  background-size: cover;
}
.header {
	padding: 40px;
	text-align: center;
	background-color: #1f1f1f;
	color: white;
	font-size: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.greetings  {
	padding-top: 10px;
  padding-bottom: 10px;
	text-align: center;
	color: whitesmoke;
	font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
	border: solid;
    border-color: black;
    border-radius: 15px;
    margin-top: 15%;
}

.bttncenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.button {
  position: absolute;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #01aaac;
  border: solid;
  border-color: black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
}

.button:hover {background-color: #080ba3}

.button:active {
  background-color: #01aaac;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
